
<div id="showCompany">
  <p align="center">
    <font color="white" size="6px">
      <strong><%= @company.name %></strong>
    </font>
  </p>
  <p align="center">
    <font color="white">
      <%= @company.address %>
    </font>
  </p>
  <br>
  <br>
  <br>
  </div>